*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card{
    width: 400px;
    height: 550px;
    background: linear-gradient(155deg, #06F6B7 , #585C8C);
    border-radius: 20px;
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 40px;
}
.search input{
   color: #09674e;
    height: 45px;
    border-radius: 30px;
    border: none;
    padding-left: 15px;
    font-size: 20px;
    outline: black;

    
}
.search button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.search img{
    width: 16px;
    /* background-color: white; */
   
}
.col{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
   
}
.col img{
    width: 180px;

}
.col h1{
    font-size: 60px;

}
.col h2{
    font-size: 40px;
    font-weight: 700;

}
.details {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 0 40px;
   margin-top: 40px;
   color: #fff;
   height: 100px;
   align-items: center;
}
.details .left,.right{
   display: flex;
   width: 50%;
   
}
.details .left p,.right p{
 margin-left: 10px;
 font-size: 18px;
   
}
.data{
  font-size: 30px;
  margin-left: 10px;
   
}

.details .left img,.details .right img{
   width: 40px;
  height: 40px;
   
}

